<ion-view view-title="Contact Us">
  <ion-content overflow-scroll="false">
      <div class="card">
        <div class="item item-divider">Location Information</div>
        <div class="item item-body">
            <p><font size="3"><strong>Our Address</strong><br>
                121, Clear Water Bay Road<br>
                Clear Water Bay, Kowloon<br>
                HONG KONG<br>
                <i class="icon ion-android-call"></i>:<a href="tel:+852 1234 5678">+852 1234 5678</a><br>
                <i class="icon ion-android-print"></i>:<a href="tel:+852 8765 4321">+852 8765 4321</a><br>
                <i class="icon ion-email"></i>:<a href="mailto:confusion@food.net">confusion@food.net</a><br>
            </font></p>
        </div>
        <div class="button-bar">
          <a class="button icon-left ion-android-call button-positive"><i class="icon ion-call"></i>Call</a>
          <a class="button icon-left ion-social-skype button-calm"><i class="icon ion-skype"></i>Skype</a>
          <a class="button icon-left ion-email button-balanced">Email</a>
        </div>             
      </div>
    </ion-content>
</ion-view>
